body {
    
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal; 
      
      
    background-color: #e8fafb;
}

.weather-app {
    max-width: 600px;
    background: white;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}